/* 代码高亮字体 */
:root {
    --hl-color: #000000e3;
    --hl-bg: rgb(121 85 72 / 0%);
    --hltools-bg: #FF5722;
    --hltools-color: #0a0a0a8c;
    --hlnumber-bg: #ff98001c;
    --hlnumber-color: #b43913;
}

.hljs {
    background: white;
    color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
    color: #00f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
    color: #a31515;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
    color: #2b91af;
}

.hljs-doctag {
    color: #808080;
}

.hljs-attr {
    color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #00b0e8;
}


.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

/* 代码字体变色 */
#article-container pre,
#article-container code {
    font-family: Fira Code !important;
}

/* CSS */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

h1#site-title {
    font-size: 8vh !important;
    text-shadow: 5px 2px 6px #000 !important;
    font-family: Fira Code !important
}

span#subtitle {
    font-size: 3vh !important;
    text-shadow: 5px 2px 6px #000 !important;
    font-family: Fira Code !important
}

a#site-name {
    text-shadow: 5px 2px 6px #000 !important;
    font-family: Fira Code !important
}

#article-container pre,
#article-container code {
    font-family: Fira Code !important;
}

.article-title {
    font-weight: bolder;
    font-family: Fira Code !important;
}